<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_layouts/head') -%>
    <script language="javascript" type="text/javascript">


        function GetDeleteConfirmation(name,checkin,checkout,guests,rooms,nights,price,bookingdt,rowid) {
            // document.getElementById(rowid).style.backgroundColor = "red";
            var msg = "Are you sure you want to delete the following booking?\n"+
                "Rental Name : "+name+"\n"+
                "Checkin Date : "+checkin+"\n"+
                "Checkout Date : "+checkout+"\n"+

                "Rooms : "+rooms+"\n"+
                "Guests : "+guests+"\n"+
                "Total Nights : "+nights+"\n"+
                "Total Price : "+price+"\n"+
                "Booked On : "+bookingdt;

            return confirm(msg);
            //document.getElementById(rowid).style.backgroundColor = "white";
        }
    </script>
</head>
<body>
<%- include('_layouts/header') -%>
<!-- ========== MAIN CONTENT ========== -->
<main id="content">
    <!-- Tabs V1 -->
    <div class="container">
        <div class="tabs-block tabs-v1">
            <div class="container space-1">
                <div class="w-md-80 w-lg-50 text-center mx-md-auto my-3">
                    <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">Hello <%= login_user.firstname%>, Welcome
                        to your Dashboard</h2>
                </div>
                <!-- Nav Classic -->
                <ul class="nav tab-nav-pill flex-nowrap pb-4 pb-lg-5 tab-nav justify-content-lg-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link font-weight-medium active" id="pills-one-example-t1-tab" data-toggle="pill"
                           href="#properties" role="tab" aria-controls="pills-one-example-t1" aria-selected="true">
                            <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                                <span class="tabtext font-weight-semi-bold">All users</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-medium" id="pills-five-example-t1-tab" data-toggle="pill"
                           href="#upcoming" role="tab" aria-controls="pills-five-example-t1" aria-selected="true">
                            <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                                <span class="tabtext font-weight-semi-bold">All Properties</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-medium" id="pills-six-example-t1-tab" data-toggle="pill"
                           href="#allstays" role="tab" aria-controls="pills-six-example-t1" aria-selected="true">
                            <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                                <span class="tabtext font-weight-semi-bold">All Stays</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-medium" id="pills-seven-example-t1-tab" data-toggle="pill"
                           href="#profile" role="tab" aria-controls="pills-seven-example-t1" aria-selected="true">
                            <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                                <span class="tabtext font-weight-semi-bold">Your Profile</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- End Nav Classic -->
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="properties" role="tabpanel"
                         aria-labelledby="pills-one-example-t1-tab">
                        <div class="row">

                                <div class="container d-flex justify-content-between">
                                    <h1>All Users</h1>
                                    <a href="new-user" class="link">
                                        <span class="link__icon ml-1">
                                            <span class="link__icon-inner">+</span>
                                            </span>
                                        Add user</a>
                                </div>
                            <% if(users.length > 0) { %>
                                <!--displaying status message-->
                                <div class="container d-block">
                                    <% if (typeof errorMsg != 'undefined' && errorMsg) { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <%- errorMsg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    <% } else if(typeof successMsg != 'undefined' && successMsg) { %>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <%- successMsg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    <% } %>
                                </div>
                                <!--displaying status message ends here-->
                                <table class="table table-light">
                                    <thead>
                                    <tr>
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Full name</th>
                                        <th scope="col"><span class="fas fa-mail-bulk mr-2"></span>Email</th>
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Role</th>
                                        <th scope="col"><span class="fas fa-calendar mr-2"></span>Date Created</th>
                                        <th scope="col"><span class="fas fa-cogs mr-2"></span>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% users.forEach(function(user){ %>
                                        <tr>
                                            <th scope="row" class="align-middle">
                                                <div class="d-flex align-items-center text-primary font-weight-medium">
                                                    <label><%= user.firstname %> <%= user.lastname %></label>
                                                </div>
                                            </th>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= user.email %></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= user.role %></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= user.createdOn %></small>
                                            </td>
                                            <td class="align-center">
                                                <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover"
                                                   href="/edit-user/<%= user._id %>" data-toggle="tooltip"
                                                   data-placement="top" title="Edit">
                                                    <span class="fas fa-pen btn-icon__inner"></span>
                                                </a>
                                                <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover"
                                                   href="/delete/user/<%= user._id %>" data-toggle="tooltip"
                                                   data-placement="top" title="Delete"
                                                   onclick="return confirm('Are you sure?')">
                                                    <span class="fas fa-trash btn-icon__inner"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            <% } else { %>
                                <div class="alert alert-warning m-auto" role="alert">
                                    <h4 class="alert-heading">No users !</h4>
                                    <p class="alert-text">Aww yeah, your website dont have any users / owners. If you
                                        want you can add users and define their roles.</p>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="pills-two-example-t1-tab">
                        <div class="row">
                            <div class="container d-flex justify-content-between"> 
                                <h1>All Properties</h1>   
                                <a href="/add-property" class="link">
                                    <span class="link__icon ml-1">
                                        <span class="link__icon-inner">+</span>
                                        </span>
                                        Add property</a>
                            </div>
                            <% if(properties.length > 0) { %>
                           <table class="table table-light">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Property Title</th>
                                    <th scope="col"><span class="fas fa-mail-bulk mr-2"></span>Address</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>City</th>
                                    <th scope="col"><span class="fas fa-calendar mr-2"></span>Date Created</th>
                                    <th scope="col"><span class="fas fa-cogs mr-2"></span>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% properties.forEach(function(property){ %>  
                                <tr>
                                    <th scope="row" class="align-middle">
                                        <div class="d-flex align-items-center text-primary font-weight-medium">
                                        <label><a href="/LookPropertyDetails/<%= property._id%>"><%= property.rentalname%></a> </label>
                                        </div>
                                    </th>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= property.address%></small>
                                    </td>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= property.city%></small>
                                    </td>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= property.createdOn.toDateString()%></small>
                                    </td>
                                    <td class="align-middle">
                                        <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover" href="/edit-property/<%= property._id%>" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <span class="fas fa-pen btn-icon__inner"></span>
                                        </a>
                                        <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover" href="/delete/<%= property._id%>" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <span class="fas fa-trash btn-icon__inner"></span>
                                        </a>
                                    </td>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                                <% } else {%>
                                    <div class="alert alert-warning m-auto" role="alert">
                                        <h4 class="alert-heading">No property!</h4>
                                        <p class="alert-text">There is no property added by any owner yet.</p>
                                    </div>
                                <% }%>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="allstays" role="tabpanel"
                         aria-labelledby="pills-three-example-t1-tab">
                        <div class="row">
                            <h1>All Stays</h1>
                            <% if(bookings.length > 0) { %>
                                <!--displaying status message-->
                                <div class="container d-block">
                                    <% if (typeof errorMsg != 'undefined' && errorMsg) { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <%- errorMsg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    <% } else if(typeof successMsg != 'undefined' && successMsg) { %>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <%- successMsg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    <% } %>
                                </div>
                                <table class="table table-light">
                                    <thead>
                                    <tr>
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Rental Name</th>
                                        <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>CheckIn</th>
                                        <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>CheckOut</th>
    
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Rooms</th>
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Guests</th>
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Total Nights</th>
                                        <th scope="col"><span class="fas fa-user mr-2"></span>Total Price</th>
    
                                        <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>Booked On</th>
                                        <th scope="col"><span class="fas fa-cogs mr-2"></span>Cancel</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%
                                        var count = 0;
                                    bookings.forEach(function(stay){ %>
                                        <tr id="rowid_<%= count%>">
                                            <th scope="row" class="align-middle">
                                                <div class="d-flex align-items-center text-primary font-weight-medium">
                                                    <label><a href="/LookPropertyDetails/<%= stay.PropertyID%>"><%= stay.PropertyName%></a> </label>
                                                </div>
                                            </th>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.CheckInDate%></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.CheckOutDate%></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.Rooms%></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.Guests%></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.TotalNights%></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.TotalPrice%></small>
                                            </td>
                                            <td class="align-middle text-secondary">
                                                <small class="d-block"><%= stay.BookingDate%></small>
                                            </td>
                                            <td class="align-middle">
    
                                                <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover"
                                                   href="/delete/booking/<%= stay.BookingID %>" data-toggle="tooltip" data-placement="top" title="Cancel Booking"
                                                   id="btnDelete"
                                                   onclick="return GetDeleteConfirmation('<%= bookings[count].PropertyName%>',
                                                           '<%= bookings[count].CheckInDate%>',
                                                           '<%= bookings[count].CheckOutDate%>',
                                                           '<%= bookings[count].Guests%>',
                                                           '<%= bookings[count].Rooms%>',
                                                           '<%= bookings[count].TotalNights%>',
                                                           '<%= bookings[count].TotalPrice%>',
                                                           '<%= bookings[count].BookingDate%>',
                                                           'rowid_<%= count%>')
                                                           ">
                                                    <span class="fas fa-trash btn-icon__inner"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    <%
                                        count++;
                                    });%>
                                    </tbody>
                                </table>
                            <% } else { %>
                                <div class="alert alert-warning m-auto" role="alert">
                                    <h4 class="alert-heading">No Stays !</h4>
                                    <p class="alert-text">Aww yeah, your account dont have any Reservations. Please Book a stay and it will appear here.</p>
                                </div>
                            <% } %>  

                            <!-- Pagination -->
                            <div class="d-flex justify-content-between align-items-center">
                                <nav id="datatablePaginationExample1" aria-label="Activity pagination"></nav>

                                <small id="datatableInfoExample1" class="text-secondary"></small>
                            </div>
                            <!-- End Pagination -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="pills-four-example-t1-tab">
                        <div class="row container flex justify-content-between ">
                            <div>
                                <h1>Account Information</h1>  
                            </div>
                            <div >
                                <a class="link font-weight-bold" href="/edit-user-profile/<%= login_user._id%>"
                                            data-toggle="tooltip" data-placement="top" title="Edit">
                                            <span class="link__icon ml-5">
                                                    <span class="fas fa-pen btn-icon__inner"></span>
                                            </span>
                                Edit Profile</a>
                            </div>  
                        </div>
                        <div class="max-width-810">
                            <div class="form-group pb-1">
                                <div class="js-form-message js-focus-state">
                                    <label class="font-weight-bold" for="firstname">First Name</label>
                                    <div class="input-group input-group-tranparent border input-group-borderless input-group-radiusless">
                                        <input type="text" disabled class="form-control" value="<%= login_user.firstname%>" name="firstname" id="firstname" placeholder="First Name" aria-label="First Name" aria-describedby="firstname" required data-msg="Please enter a valid first name." data-error-class="u-has-error" data-success-class="u-has-success">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="username">
                                                <span class="flaticon-user font-size-20"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="form-group pb-1">
                                <div class="js-form-message js-focus-state  border-width-2 border-color-8 rounded-sm">
                                    <label class="font-weight-bold" for="lastname">Last Name</label>
                                    <div class="input-group input-group-tranparent border input-group-borderless input-group-radiusless">
                                        <input type="text" disabled class="form-control"  value="<%= login_user.lastname%>" name="lastname" id="lastname" placeholder="Last Name" aria-label="Last Name" aria-describedby="normalname" required data-msg="Please enter a valid last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="username">
                                                <span class="flaticon-user font-size-20"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="form-group pb-1">
                                <div class="js-form-message js-focus-state  border-width-2 border-color-8 rounded-sm">
                                    <label class="font-weight-bold" for="email">Email</label>
                                    <div class="input-group input-group-tranparent border input-group-borderless input-group-radiusless">
                                        <input type="email" disabled class="form-control"  value="<%= login_user.email%>" name="email" id="email" placeholder="Email" aria-label="Email" aria-describedby="signupEmail" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="signupEmail">
                                                <span class="far fa-envelope font-size-20"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="form-group pb-1">
                                <div class="js-form-message js-focus-state  border-width-2 border-color-8 rounded-sm">
                                    <label class="font-weight-bold" for="phone">Phone Number</label>
                                    <div class="input-group input-group-tranparent border input-group-borderless input-group-radiusless">
                                        <input type="text" disabled class="form-control"  value="<%= login_user.phone%>" name="phone" id="phone" placeholder="Phone Number" aria-label="phone" aria-describedby="phone" required data-msg="Please enter a valid phone number." data-error-class="u-has-error" data-success-class="u-has-success">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="phone">
                                                <span class="flaticon-phone-call font-size-20"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="form-group pb-1">
                                <div class="js-form-message js-focus-state  border-width-2 border-color-8 rounded-sm">
                                    <label class="font-weight-bold" for="signupSrPassword">Password</label>
                                    <div class="input-group input-group-tranparent border input-group-borderless input-group-radiusless">
                                        <input type="password" disabled class="form-control" name="password" value="<%= login_user.phone%>" id="signupSrPassword" placeholder="Password" aria-label="Password" aria-describedby="signupPassword" required data-msg="Please enter a valid password" data-error-class="u-has-error" data-success-class="u-has-success">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="signupPassword">
                                                <span class="flaticon-password font-size-20"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Tabs V1 -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
<%- include('_layouts/footer') -%>
<!-- Go to Top -->
<a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
   data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="flaticon-arrow u-go-to-modern__inner"></span>
</a>
<!-- End Go to Top -->
<%- include('_layouts/scripts') -%>
<script src="/js/dycalendar.min.js"></script>
<script>
    function activatedPlaces() {
        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }

    ClassicEditor
        .create(document.querySelector('#message'))
        .catch(error => {
            console.error(error);
        });

    dycalendar.draw({
        target: '.dycalendar-month-prev-next-button',
        type: 'month',
        monthformat: "full",
        highlighttargetdate: true,
        prevnextbutton: "show"
    });

</script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYwl6FOUaXRUgzeX2P7R10aGFY0UksCMA&libraries=places&callback=activatedPlaces"></script>
</body>
</html>
