<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_layouts/head') -%>
</head>
<body>
<%- include('_layouts/header') -%>
<!-- ========== MAIN CONTENT ========== -->
<main id="content">
    <div class="container bg-light pb-10">
        <div class="row">
            <div class="container max-width-810 mx-auto">
                <div class="py-3 px-4 px-xl-12 border-bottom">
                    <% if(action === "edit") {%>
                        <h1 class="text-center">Creating a new user</h1>
                    <% } else {%>
                            <h1 class="text-center">Editing user: <%= user.firstname %> <%= user.lastname %></h1>
                    <% } %>
                </div>
                <form class="js-validate mt-8" action="<%= postAction %>" method="POST">
                    <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="js-form-message">
                                <label class="form-label">
                                    First Name
                                </label>
                                <input type="text" class="form-control" name="firstname" placeholder="First name" aria-label="firstname" required
                                       data-msg="Please enter your first name."
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success" value="<%= user.firstname  %>">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="js-form-message">
                                <label class="form-label">
                                    Last name
                                </label>

                                <input type="text" class="form-control" name="lastname" placeholder="Last name" aria-label="lastname" required
                                       data-msg="Please enter your last name."
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success" value="<%= user.lastname %>">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="js-form-message">
                                <label class="form-label">
                                    Email
                                </label>

                                <input type="email" class="form-control" name="email" placeholder="example@example.com" aria-label="example@example.com" required
                                       data-msg="Please enter a valid email address."
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success" value="<%= user.email %>">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="col-sm-6 mb-4">
                            <div class="js-form-message">
                                <label class="form-label">
                                    Phone
                                </label>

                                <input type="number" class="form-control" name="phone" placeholder="+1-111-111-1111" aria-label="+1-111-111-1111" required
                                       data-msg="Please enter a valid phone number."
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success" value="<%= user.phone %>">
                            </div>
                        </div>

                        <!-- Input -->
                        <% if(action === "new") { %>
                        <div class="col-sm-6 mb-4">
                            <div class="js-form-message">
                                <label class="form-label">
                                    Password
                                </label>

                                <input type="password" class="form-control" name="password" placeholder="" aria-label="+1-111-111-1111" required
                                       data-msg="Please enter a valid password."
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success" value="<%= user.phone %>">
                            </div>
                        </div>
                        <% } %>
                        <div class="w-100"></div>
                        <div class="d-flex justify-content-between mb-1">
                            <div class="custom-control custom-switch mb-4">
                                <input type="checkbox" value="<%= user.role === 'owner' ? "On" : undefined %>"
                                       class="custom-control-input" id="HaveProperty" name="role" checked="<%= user.role === 'owner' %>">
                                <label class="custom-control-label" for="HaveProperty">Owner</label>
                            </div>
                        </div>
                        <% if(action === "edit") { %>
                        <input type="hidden" name="userid" value="<%= user._id %>">
                        <% } %>
                        <% if(action === "new") { %>
                        <input type="hidden" name="action" value="<%= action %>">
                        <% } %>
                        <div class="w-100"></div>
                        <a href="/admin-dashboard" class="btn btn-secondary w-30 rounded-sm transition-3d-hover font-size-16 font-weight-bold py-3 m-auto mt-7">Cancel</a>
                        <button type="submit" class="btn btn-primary w-30 rounded-sm transition-3d-hover font-size-16 font-weight-bold py-3 m-auto mt-7">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
<%- include('_layouts/footer') -%>
<!-- Go to Top -->
<a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="flaticon-arrow u-go-to-modern__inner"></span>
</a>
<!-- End Go to Top -->
<%- include('_layouts/scripts') -%>
</body>
</html>
