<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_layouts/head') -%>
        <%- include('_layouts/scripts') -%>
        <script src='/assets/js/Utilities.js'></script>
        <script language="javascript" type="text/javascript">
          
        function updateBookingInfo()
        {
            var element = document.getElementById("spanGuestsAndRooms");
            var adultsCount = $('#txtGuestsCount').val();
            var roomsCount = $('#txtRoomsCount').val();
            var msg = adultsCount+" Guests - "+roomsCount+" Rooms";
           element.innerHTML = msg;
            $('#GuestsAndRooms').val(msg);
            
        }

       
            $(function(){
                window.setTimeout(function () {
        // your stuff here
        //var picker = flatpickr('#checkin_checkout_dates');
        const myInput = document.getElementById("checkin_checkout_dates");
        myInput._flatpickr.config.minDate='today';
        myInput._flatpickr.config.dateFormat = 'd M yy';
       
        //var mydate = mxdate.getDate()+'-May-'+mxdate.getFullYear();
        myInput._flatpickr.config.maxDate= getMaxBookingDate();
console.log('input :'+myInput._flatpickr.config);
       // myInput.config['minDate']='today');
    }, 0);
                var today =new Date();
                
                             //  document.getElementById('checkin_checkout_dates').style.display = 'none';
//document.getElementById('checkin_checkout_dates').style.display = 'block';
                //picker.config.minDate=new Date();
               // console.log('getting picker :) '+picker.config);
               var from1 = flatpickr('#dates', {
                   minDate:"today",
              // "plugins": [new rangePlugin()],
               maxDate : getMaxDate(),
               dateFormat:"d-M-Y",
               mode:"range",
              
               disable: [new Date(), new Date(2020, 3, 13), new Date(2020, 3, 15),new Date(2020, 3, 17)]
            });

       
                // $("#checkin_checkout_dates").flatpickr({
                //     minDate:new Date()
                // });
                //document.getElementById('checkin_checkout_dates').setAttribute("minDate", "today");
                // $('#checkin_checkout_dates').prop('readonly', false);
                // $('#checkin_checkout_dates').attr('readonly', false);
                // $('#checkin_checkout_dates').attr('minDate','2020-03');
                
               // var $j = jQuery.noConflict();
//$j("#datepicker").datepicker();
             //   $("#txtDate").datepicker();
                $('#txtGuestsCount').val('2');
                console.log($('#txtGuestsCount').val());
                
                
                //alert(maxDate);
                //$('#checkin_checkout_dates').attr('min', maxDate);
               
    
//var control = $('input[name="checkin_checkout_dates"]')
    //             $('input[id="checkin_checkout_dates"]').daterangepicker({
    //                 timePicker: true,
    //                 minDate=dtToday
    //   });
            });
        </script>
    </head>
    <body>
    <%- include('_layouts/header') -%>
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content">
           

            <!-- <input id="dates" type="text"> -->
           
            <!-- ========== HERO ========== -->
            <div class="hero-block hero-v6 bg-img-hero-bottom gradient-overlay-half-bg-charcoal-gray text-center z-index-2" style="background-image: url(assets/img/1920x750/img3.jpg);">
                <div class="container space-2 space-top-xl-6">
                    <div class="justify-content-md-center py-xl-10">
                        <!-- Info -->
                        <div class="pb-lg-11 mb-7" >
                            <h1 class="font-size-60 font-size-xs-30 text-white font-weight-bold">Find your next rental</h1>
                            <p class="font-size-20 font-weight-normal text-white">Book experiences you’ll want to tell the world about</p>
                        </div>
                        <!-- End Info -->
                    </div>
                    <div class="mb-lg-n16">
                        <div class="card border-0 tab-shadow" id="searchPanel">
                            <div class="card-body" >
                                <form class="js-validate" action="/property-list" method="POST">
                                  <div class="row d-block nav-select d-lg-flex mb-lg-3 px-2 px-lg-3" >
                                    <div class="col-sm-12 col-lg-3dot6 col-xl-3dot7 mb-4 mb-lg-0 ">
                                        <div class="js-form-message js-focus-stae">
                                        <span class="d-block text-gray-1 font-weight-normal text-left mb-0">Destination</span>
                                        <!-- Select -->
                                            <input class="form-control" type="text" id="location" name= "location"
                                                   placeholder="AnyWhere"
                                                   aria-describedby="location" required
                                                   data-msg="Please enter a City name to Search."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success"/>
                                        </div>
                                        <!-- End Select -->
                                    </div>

                                    <div class="col-sm-12 col-lg-3dot7 col-xl-3dot6 mb-4 mb-lg-0 ">
                                        <!-- Input -->
                                        <span class="d-block text-gray-1 text-left font-weight-normal mb-0">Check In - Out</span>
                                        <div class="border-bottom border-width-2 border-color-1">
                                            <div id="datepickerWrapperFromOne" class="u-datepicker input-group">
                                                <div class="input-group-prepend">
                                                    <span class="d-flex align-items-center mr-2">
                                                      <i class="flaticon-calendar text-primary font-weight-semi-bold"></i>
                                                    </span>
                                                </div>
                                                 <input class="js-range-datepicker font-size-lg-16 shadow-none font-weight-bold form-control hero-form bg-transparent  border-0" type="text"
                                                     data-rp-wrapper="#datepickerWrapperFromOne"
                                                     name= "checkin_checkout_dates"
                                                     data-rp-type="range"                                                     
                                                        id =  "checkin_checkout_dates"
                                                        data-rp-default-date='["24-Apr-2020", "26-Apr-2020"]'>
                                            </div>
                                          
                                             <!-- End Datepicker -->
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="col-sm-12 col-lg-2dot8 mb-4 mb-lg-0 dropdown-custom">
                                        <!-- Input -->
                                        <span class="d-block text-gray-1 text-left font-weight-normal mb-0">Guests</span>
                                        <a id="basicDropdownClickInvoker" class="dropdown-nav-link dropdown-toggle d-flex pt-3 pb-2" href="javascript:;" role="button"
                                            aria-controls="basicDropdownClick"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            data-unfold-event="click"
                                            data-unfold-target="#basicDropdownClick"
                                            data-unfold-type="css-animation"
                                            data-unfold-duration="300"
                                            data-unfold-delay="300"
                                            data-unfold-hide-on-scroll="true"
                                            data-unfold-animation-in="slideInUp"
                                            data-unfold-animation-out="fadeOut">
                                            <i class="flaticon-plus d-flex align-items-center mr-3 font-size-18 text-primary font-weight-semi-bold"></i>
                                            <span class="text-black font-size-16 font-weight-semi-bold" id="spanGuestsAndRooms" name="spanGuestsAndRooms">2 Guests - 1 Room</span>
                                            <input type="hidden"  name="GuestsAndRooms" id="GuestsAndRooms"  value="2 Guests - 1 Room">
                                        </a>
                                        <div id="basicDropdownClick" class="dropdown-menu dropdown-unfold col-11 m-0" aria-labelledby="basicDropdownClickInvoker">
                                            <div class="w-100 py-2 px-3 mb-3">
                                                <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                    <span class="d-block font-size-16 text-secondary font-weight-medium">Guests</span>
                                                    <div class="d-flex">
                                                        <a class="js-minus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                            <small class="fas fa-minus btn-icon__inner"></small>
                                                        </a>
                                                        <input id="txtGuestsCount" class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center" type="text" value="2">
                                                        <a class="js-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                            <small class="fas fa-plus btn-icon__inner"></small>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 py-2 px-3">
                                                <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                    <span class="d-block font-size-16 text-secondary font-weight-medium">Rooms</span>
                                                    <div class="d-flex">
                                                        <a class="js-minus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="/property-list">
                                                            <small class="fas fa-minus btn-icon__inner"></small>
                                                        </a>
                                                        <input id="txtRoomsCount" class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center" type="text" value="1">
                                                        <a class="js-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="/property-list">
                                                            <small class="fas fa-plus btn-icon__inner"></small>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 text-right py-1 pr-5">
                                                <a class="text-primary font-weight-semi-bold font-size-16" href="javascript:updateBookingInfo();">Done</a>
                                            </div>
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div id="searchLocation" class="col-sm-12 col-lg-1dot8 align-self-lg-end text-md-right">
                                        <button type="submit" class="btn btn-primary btn-md border-radius-3 mb-xl-0 mb-lg-1 transition-3d-hover"><i class="flaticon-magnifying-glass font-size-20 mr-2"></i>Search</button>
                                    </div>
                                   
                                  </div>

                                  
                                  <!-- End Checkbox -->
                                </form>
                                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 
            <!-- ========== END HERO ========== -->
           
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
         
        

            <!-- End Testimonials v2 -->
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
    <%- include('_layouts/footer') -%>
        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->
    <%- include('_layouts/scripts') -%>
    
    
    </body>
</html>
