<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_layouts/head') -%>


    <script language="javascript" type="text/javascript">


        function GetDeleteConfirmation(name,checkin,checkout,guests,rooms,nights,price,bookingdt,rowid) {
            // document.getElementById(rowid).style.backgroundColor = "red";
            var msg = "Are you sure you want to delete the tollowing booking?\n"+
                "Rental Name : "+name+"\n"+
                "Checkin Date : "+checkin+"\n"+
                "Checkout Date : "+checkout+"\n"+

                "Rooms : "+rooms+"\n"+
                "Guests : "+guests+"\n"+
                "Total Nights : "+nights+"\n"+
                "Total Price : "+price+"\n"+
                "Booked On : "+bookingdt;

            return confirm(msg);
            //document.getElementById(rowid).style.backgroundColor = "white";
        }
    </script>
</head>
<body>

<%- include('_layouts/header') -%>
<!-- ========== MAIN CONTENT ========== -->
<main id="content">
    <!-- Tabs V1 -->
    <div class="tabs-block tabs-v1">
        <div class="container space-1">
            <div class="w-md-80 w-lg-50 text-center mx-md-auto my-3">
                <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">Hello <%= firstname %>, Welcome to your Dashboard</h2>
            </div>
            <!-- Nav Classic -->
            <ul class="nav tab-nav-pill flex-nowrap pb-4 pb-lg-5 tab-nav justify-content-lg-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link font-weight-medium active" id="pills-one-example-t1-tab" data-toggle="pill" href="#properties" role="tab" aria-controls="pills-one-example-t1" aria-selected="true">
                        <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                            <span class="tabtext font-weight-semi-bold">All Stays</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-medium" id="pills-five-example-t1-tab" data-toggle="pill" href="#upcoming" role="tab" aria-controls="pills-five-example-t1" aria-selected="true">
                        <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                            <span class="tabtext font-weight-semi-bold">Upcoming Stays</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-medium" id="pills-six-example-t1-tab" data-toggle="pill" href="#completed" role="tab" aria-controls="pills-six-example-t1" aria-selected="true">
                        <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                            <span class="tabtext font-weight-semi-bold">Completed Stays</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-medium" id="pills-seven-example-t1-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="pills-seven-example-t1" aria-selected="true">
                        <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                            <span class="tabtext font-weight-semi-bold">Your Profile</span>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade active show" id="properties" role="tabpanel" aria-labelledby="pills-one-example-t1-tab">
                    <div class="row">


                        <% if(stays.length > 0) { %>
                            <!--displaying status message-->
                            <div class="container d-block">
                                <% if (typeof errorMsg != 'undefined' && errorMsg) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <%- errorMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                <% } else if(typeof successMsg != 'undefined' && successMsg) { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%- successMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                <% } %>
                            </div>
                            <table class="table table-light">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Rental Name</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>CheckIn</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>ChekOut</th>

                                    <th scope="col"><span class="fas fa-user mr-2"></span>Rooms</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Guests</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Total Nights</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Total Price</th>

                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>Booked On</th>
                                    <th scope="col"><span class="fas fa-cogs mr-2"></span>Cancel</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                    var count = 0;
                                stays.forEach(function(stay){ %>
                                    <tr id="rowid_<%= count%>">
                                        <th scope="row" class="align-middle">
                                            <div class="d-flex align-items-center text-primary font-weight-medium">
                                                <label><a href="/BookedPropertyDetails/<%= stay.PropertyID%>"><%= stay.PropertyName%></a> </label>
                                            </div>
                                        </th>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.CheckInDate%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.CheckOutDate%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.Rooms%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.Guests%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.TotalNights%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.TotalPrice%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.BookingDate%></small>
                                        </td>
                                        <td class="align-middle">

                                            <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover"
                                               href="/delete/booking/<%= stay.BookingID %>" data-toggle="tooltip" data-placement="top" title="Cancel Booking"
                                               id="btnDelete"
                                               onclick="return GetDeleteConfirmation('<%= stays[count].PropertyName%>',
                                                       '<%= stays[count].CheckInDate%>',
                                                       '<%= stays[count].CheckOutDate%>',
                                                       '<%= stays[count].Guests%>',
                                                       '<%= stays[count].Rooms%>',
                                                       '<%= stays[count].TotalNights%>',
                                                       '<%= stays[count].TotalPrice%>',
                                                       '<%= stays[count].BookingDate%>',
                                                       'rowid_<%= count%>')
                                                       ">
                                                <span class="fas fa-trash btn-icon__inner"></span>
                                            </a>
                                        </td>
                                    </tr>
                                <%
                                    count++;
                                });%>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="alert alert-warning m-auto" role="alert">
                                <h4 class="alert-heading">No Stays !</h4>
                                <p class="alert-text">Aww yeah, your account dont have any Reservations. Please Book a stay and it will appear here.</p>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="pills-two-example-t1-tab">
                    <div class="row">


                        <% if(upcomingStays.length > 0) { %>
                            <!--displaying status message-->
                            <div class="container d-block">
                                <% if (typeof errorMsg != 'undefined' && errorMsg) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <%- errorMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                <% } else if(typeof successMsg != 'undefined' && successMsg) { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%- successMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                <% } %>
                            </div>
                            <table class="table table-light">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Rental Name</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>CheckIn</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>ChekOut</th>

                                    <th scope="col"><span class="fas fa-user mr-2"></span>Rooms</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Guests</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Total Nights</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Total Price</th>

                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>Booked On</th>
                                    <th scope="col"><span class="fas fa-cogs mr-2"></span>Cancel</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                    var count = 0;
                                upcomingStays.forEach(function(stay){ %>
                                    <tr id="rowid_<%= count%>">
                                        <th scope="row" class="align-middle">
                                            <div class="d-flex align-items-center text-primary font-weight-medium">
                                                <label><a href="/BookedPropertyDetails/<%= stay.PropertyID%>"><%= stay.PropertyName%></a> </label>
                                            </div>
                                        </th>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.CheckInDate%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.CheckOutDate%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.Rooms%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.Guests%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.TotalNights%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.TotalPrice%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.BookingDate%></small>
                                        </td>
                                        <td class="align-middle">

                                            <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover"
                                               href="/delete/booking/<%= stay.BookingID %>" data-toggle="tooltip" data-placement="top" title="Cancel Booking"
                                               id="btnDelete"
                                               onclick="return GetDeleteConfirmation('<%= stays[count].PropertyName%>',
                                                       '<%= stays[count].CheckInDate%>',
                                                       '<%= stays[count].CheckOutDate%>',
                                                       '<%= stays[count].Guests%>',
                                                       '<%= stays[count].Rooms%>',
                                                       '<%= stays[count].TotalNights%>',
                                                       '<%= stays[count].TotalPrice%>',
                                                       '<%= stays[count].BookingDate%>',
                                                       'rowid_<%= count%>')
                                                       ">
                                                <span class="fas fa-trash btn-icon__inner"></span>
                                            </a>
                                        </td>
                                    </tr>
                                <%
                                    count++;
                                });%>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="alert alert-warning m-auto" role="alert">
                                <h4 class="alert-heading">No Stays !</h4>
                                <p class="alert-text">Aww yeah, your account dont have any Reservations. Please Book a stay and it will appear here.</p>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="pills-two-example-t1-tab">
                    <div class="row">


                        <% if(completedStays.length > 0) { %>
                            <!--displaying status message-->
                            <div class="container d-block">
                                <% if (typeof errorMsg != 'undefined' && errorMsg) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <%- errorMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                <% } else if(typeof successMsg != 'undefined' && successMsg) { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%- successMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                <% } %>
                            </div>
                            <table class="table table-light">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Rental Name</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>CheckIn</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>ChekOut</th>

                                    <th scope="col"><span class="fas fa-user mr-2"></span>Rooms</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Guests</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Total Nights</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Total Price</th>

                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>Booked On</th>
                                    <th scope="col"><span class="fas fa-cogs mr-2"></span>Cancel</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                    var count = 0;
                                completedStays.forEach(function(stay){ %>
                                    <tr id="rowid_<%= count%>">
                                        <th scope="row" class="align-middle">
                                            <div class="d-flex align-items-center text-primary font-weight-medium">
                                                <label><a href="/BookedPropertyDetails/<%= stay.PropertyID%>"><%= stay.PropertyName%></a> </label>
                                            </div>
                                        </th>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.CheckInDate%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.CheckOutDate%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.Rooms%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.Guests%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.TotalNights%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.TotalPrice%></small>
                                        </td>
                                        <td class="align-middle text-secondary">
                                            <small class="d-block"><%= stay.BookingDate%></small>
                                        </td>
                                        <td class="align-middle">

                                            <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover"
                                               href="/delete/booking/<%= stay.BookingID %>" data-toggle="tooltip" data-placement="top" title="Cancel Booking"
                                               id="btnDelete"
                                               onclick="return GetDeleteConfirmation('<%= stays[count].PropertyName%>',
                                                       '<%= stays[count].CheckInDate%>',
                                                       '<%= stays[count].CheckOutDate%>',
                                                       '<%= stays[count].Guests%>',
                                                       '<%= stays[count].Rooms%>',
                                                       '<%= stays[count].TotalNights%>',
                                                       '<%= stays[count].TotalPrice%>',
                                                       '<%= stays[count].BookingDate%>',
                                                       'rowid_<%= count%>')
                                                       ">
                                                <span class="fas fa-trash btn-icon__inner"></span>
                                            </a>
                                        </td>
                                    </tr>
                                <%
                                    count++;
                                });%>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="alert alert-warning m-auto" role="alert">
                                <h4 class="alert-heading">No Stays !</h4>
                                <p class="alert-text">Aww yeah, your account dont have any Reservations. Please Book a stay and it will appear here.</p>
                            </div>
                        <% } %>
                    </div>
                </div>



                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="pills-two-example-t1-tab">
                    <div class="row">



                        <%if(userInfo)
                        {%>
                            <table class="table table-light">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>First Name</th>
                                    <th scope="col"><span class="fas fa-user -bulk mr-2"></span>Last Name</th>
                                    <th scope="col"><span class="fas fa-calendar -bulk mr-2"></span>Phone</th>

                                    <th scope="col"><span class="fas fa-calendar mr-2"></span>Email</th>
                                    <th scope="col"><span class="fas fa-user mr-2"></span>Created On</th>

                                    <th scope="col"><span class="fas fa-cogs mr-2"></span>Edit</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>

                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= userInfo.firstname%></small>
                                    </td>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= userInfo.lastname%></small>
                                    </td>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= userInfo.phone%></small>
                                    </td>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= userInfo.email%></small>
                                    </td>
                                    <td class="align-middle text-secondary">
                                        <small class="d-block"><%= userInfo.UserCreatedOn%></small>
                                    </td>

                                    <td class="align-middle">

                                        <a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover" href="/edit-user-profile/<%= userInfo._id%>" data-toggle="tooltip" data-placement="top" title="Edit Profile">
                                            <span class="fas fa-pen btn-icon__inner"></span>
                                        </a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        <%}%>
                    </div>
                </div>
            </div>


</main>
<!-- ========== END MAIN CONTENT ========== -->
<%- include('_layouts/footer') -%>
<!-- Go to Top -->
<a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="flaticon-arrow u-go-to-modern__inner"></span>
</a>
<!-- End Go to Top -->
<%- include('_layouts/scripts') -%>
</body>
</html>
